[submodule "nwb-extensions/ndx-pose"]
	path = nwb-extensions/ndx-pose
	url = https://github.com/BorjaEst/ndx-pose.git
[submodule "nwb-extensions/ndx-structured-behavior"]
	path = nwb-extensions/ndx-structured-behavior
	url = https://github.com/BorjaEst/ndx-structured-behavior.git
[submodule "nwb-extensions/ndx-events"]
	path = nwb-extensions/ndx-events
	url = https://github.com/BorjaEst/ndx-events.git
