[submodule "nwb-extensions/ndx-pose"]
	path = nwb-extensions/ndx-pose
	url = git@github.com:BorjaEst/ndx-pose.git
[submodule "nwb-extensions/ndx-events"]
	path = nwb-extensions/ndx-events
	url = git@github.com:BorjaEst/ndx-events.git
